# Env files (VERY IMPORTANT)
.env
**/.env

# If .env is inside langchain folder
langchain/.env

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

./LANGCHAIN-CHATBOT-PROJECT\prompts_ui.py
# Other folders you don’t want in repo
myapp/

# OS files (optional but good)
.DS_Store